<h1>Welcome, {{ user.name }}!</h1>
<div *ngIf="hasAccounts">
  <li *ngFor="let account of user.accounts">
    <app-account-info [account]="account"></app-account-info>
  </li>
</div>
<form [formGroup]="accountForm">
  <fieldset>
    <h3>Create New Account</h3>
    <legend>Amount (must be at least $100): </legend>
    <input type="number" formControlName="initialAmount"/>
    <!-- <p *ngIf="initialAmount.touched && initialAmount.invalid">Please deposit at least $100.</p> -->
    <p>{{ accountForm.status }}</p>
  </fieldset>
  <button (click)="create()" [disabled]="!formTouched || null">Create Account</button>
</form>