<h3>Account Number: {{ account.accountNumber }}</h3>
<p>Balance: {{ account.balance | currency }}</p>
<form [formGroup]="transactionForm">
  <fieldset>
    <h4>Withdraw / Deposit</h4>
    <legend>Amount: </legend>
    <input type="number" formControlName="amount"/>
  </fieldset>
  <p *ngIf="formTouched && inputtedAmount?.errors?.deposit.tooMuch">
    Deposits cannot exceed $10,000.
  </p>
  <p *ngIf="formTouched && inputtedAmount?.errors?.deposit.notEnough">
    Deposits must be at least $100.
  </p>
  <!-- I was having trouble with withdrawal errors not showing here. Just hacked it with an alert (not ideal at all). -->
  <p *ngIf="formTouched && inputtedAmount?.errors?.withdrawal?.tooMuch">
    <!-- TODO - Something that would be nice would be to show the user how much 90% of their total balance is so they don't have to calculate themselves. -->
    Withdrawals can't exceed 90% of your account balance or leave you with less than $100 in your account.
  </p>
  <!-- TODO - I imagine these buttons would inherit from some base button component class which disables itself in the event of inputted form error states. -->
  <button (click)="deposit()" [disabled]="(!formTouched || inputtedAmount?.errors) ? true : null">Deposit</button>
  <button (click)="withdraw()" [disabled]="(!formTouched) ? true : null">Withdraw</button>
</form>
<button (click)="this.delete.emit(this.account.accountNumber)">Delete Account</button>
<hr>
<!-- TODO - Ideally have a specific component to list transactions. Maybe named "transaction-info"? -->
<h4>Transactions</h4>
<div class="transaction" *ngFor="let transaction of account.transactions">
  <p>Amount: {{ transaction.amount | currency }}</p>
  <p>Date: {{transaction.date | date:'medium'}} </p>
</div>